@font-face {
  font-family: "smokeyFont";
  src:url("../fonts/Nice Dream Come True.ttf") format("truetype");
}

@font-face {
  font-family: "tacos";
  src:url("../fonts/TACOSRG_2.TTF") format("truetype");
}

#about h1{
  font-family: smokeyFont;
  color: white;
}

#about h4{
  font-family: smokeyFont;
  font-size: 42px;
}

body{
  margin: 0;
  width: 100%;
  background-color: black;
  background-size: cover;
}
main{
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: black;
  background-color: white;
  margin-left: 1%;
  margin-right: 1%;
}

h1{
  color: white;
  font-size: 50px;
  z-index: 1
}

#dels a{
  text-decoration: none !important;
}
#dels h2{
  text-align: center;
  padding-top: 100px;
  font-size: 250px;
  color: red;
  font-family: tacos;
  opacity: .5;
}

.aboutheader a{
  text-decoration: none !important;
}

/*---------START OF THE ABOUT SECTION------------*/

.jumbotron{
  margin-bottom: 0px;
}

#about{
  background-image: url("../img/dramaticme.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  color: white;
  border-top: 10px solid;
  border-color: black;
}

#smokeydescription{
  padding-top: 8%;
}
#abouttitles1{
  padding-left: 11%;
  padding-bottom: 1%;
  animation-delay: 7s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

#abouttitles3{
  padding-left: 15%;
  padding-bottom: 1%;
  animation-delay: 6.25s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
#abouttitles4{
  padding-left: 18%;
  padding-bottom: 1%;
  animation-delay: 5.5s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
#abouttitles5{
  padding-left: 21%;
  padding-bottom: 1%;
  animation-delay: 4.75s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
#abouttitles6{
  padding-left: 24%;
  animation-delay: 4.0s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

#abouttitlespic{
  padding-left: 32%;
  padding-bottom: 1%;
  animation-delay: 3.25s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  margin-top: -11%;
  opacity: 10%;
  z-index: -1;
  visibility: hidden;
}

.aboutheader {
  margin-top:-13%;
  text-align: center;
  animation-delay: 7.75s;
  animation-duration: 4s;
  /*animation-iteration-count: */
}
.aboutheader h1{
  font-size: 100px;
}
/*START OF TIC TAC TOE SECTION!*/

#tic{
  background-image: url("https://media.timeout.com/images/101578335/image.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 10px solid;
  border-color: black;
}

#ticpage{
  padding-left: 10%;
}

#ticpage h2{
  text-align: center;
  font-size: 100px;
  color: red;
  margin-top: 32%;
  font-family: 'Italianno', cursive;
  font-size: 120px;
}
#ticpage h4{
  text-align: center;
  font-size: 100px;
  color: red;
  font-family: 'Italianno', cursive;
  font-size: 66px;
}

#ticpage button{
  margin-top: 25px;
  margin-left: 45%;
  background-color: #5F0B42;
  border-color: darkorange;
  color: yellow;
}

#title h1{
  color: white;
  font-size: 62px;
}
#title h2{
  color: white;
  font-size: 32px;
}

div[data-cell] {
  width: 110px;
  height: 110px;
  background-color: #f2f2f2;
  float: left;
  border: 3px solid darkorange;
  font-size: 70px;
  text-align: center;
  color: yellow;
  background-color: black;
}

#tic .row {
  clear: both;
}

#announce-winner {
  clear: both;
  font-size: 50px;
  color: white;
  text-align: center;
}

/*END OF TIC TAC TOE SECTION*/

/*------------START OF WINERY SECTION-------------*/

#winery{
  background-image: url("../img/wine-bg.jpg");
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 4%;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-color: black;
}

#winery h3{
  font-size: 32px;
  font-style: italic;
  color: white;
}
#winery h2{
  font-size: 52px;
  color: white;
  margin-bottom: 3%;
}

#winery p{
  color: white;
  margin-top: 3%;
}

#winery img{
  width: 300px;
  opacity: 0.75;
  margin-bottom: 3%;
}
/*-------------END OF WINERY SECTION ---------------*/

/*START OF DEL'S LEMONDADE*/

#dels{
  background-image: url("https://burlythere.files.wordpress.com/2015/07/img_0071.jpg?w=618&h=464");
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 10px solid;
  border-color: black;
  img.resize{
   max-width:50%;
   max-height:50%;
}

#dels a{
  text-decoration: none !important;
  color: blue;
  font-size: 200px;
}

#tacoPage img{
  margin-left: 40%;
  margin-top: 10%;
  animation-duration: 5s;
}

#tacoPage h2{
  text-align: center;
  font-size: 250px;
  color: red;
  font-family: tacos;
  opacity: .5;
  text-decoration: none !important;
}
#tacoPage h3{
  text-align: center;
  font-size: 100px;
  color: red;
  font-family: tacos;
  opacity: .5;
}

/*--------------------START OF MEDIA QUERIES*/

@media all and (max-width: 2100px) {
  #abouttitlespic{
    margin-top: -90.5%;
    padding-left: 33%;
    visibility: hidden;
  }
}

}
@media all and (max-width: 1500px) {
  #abouttitlespic{
    padding-left: 32%;
    margin-top: -11.75%;
    opacity: 70%;
  }
}

@media all and (max-width: 1445px) {
  #abouttitlespic{
    padding-left: 435px;
    padding-bottom: 1%;
    animation-delay: 1.25s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    margin-top: -10.5%;
    opacity: 70%;
    visibility: visible;
  }
}

@media all and (max-width: 1401px) {
  #abouttitlespic{
    padding-left: 255px;
    padding-bottom: 1%;
    animation-delay: 0.25s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    margin-top: -10.5%;
    opacity: 70%;
    visibility: visible;
  }
}

@media all and (max-width: 1360px){
  #abouttitlespic{
    padding-left: 240px;
  }
}

@media all and (max-width: 1350px) {
/*HEADER BEGINS*/
  #ticinhead{
    position: absolute;
    left: 20%;
    top: 425px;
    z-index: 2;  justify-content: center;
    padding: 0;
    margin: 0px;
  }
}

@media all and (max-width: 1250px){
  #abouttitlespic{
    padding-left: 230px;
  }
}

@media all and (max-width: 1190px){
  #abouttitlespic{
    padding-left: 23%;
    margin-top: -12.5%;
  }
}

@media all and (max-width: 1150px){
  #abouttitlespic{
    padding-left: 225px;
    margin-top: -13.25%;
  }
}

@media all and (max-width: 1120px){
  #abouttitlespic{
    padding-left: 230px;
    margin-top: -13.25%;
  }
}

@media all and (max-width: 1050px) {

  #abouttitlespic{
    padding-left: 240px;
    margin-top: -13.25%;
  }

  #contact1{
    padding-left: 20%;
    font-size: 30px;
  }

  #contact button{
  background-color: maroon;
  height: 50px;
  width: 150px;
  font-family: Acme;
  font-size: 30px;
  border: none;
  }

  #contact1 a{
    padding-right: 6%;
  }

  #dels h2{
    font-size: 200px;
  }

}

@media all and (max-width: 990px) {

  main{
    margin-left: 0%;
    margin-right:0%;
    width: 100%;
  }

/*START OF ABOUT MQ*/
  .aboutheader h1{
    font-size: 70px;
  }

  #abouttitlespic{
    padding-left: 245px;
    margin-top: -13.25%;
  }

/*START OF WINERY MQ*/
  #winery{
    background-image: url("../img/wine-bg.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 4%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    }
  #winery h3{
    font-size: 24px;
    font-style: italic;
    color: white;
  }
  #winery h2{
    font-size: 42px;
    color: white;
    margin-bottom: 3%;
  }

  #winery p{
    color: white;
    margin-top: 3%;
    font-size: 18px;
  }

  #winery img{
    width: 250px;
    opacity: 0.75;
    margin-bottom: 3%;
  }
}

@media all and (max-width: 939px){
  #abouttitlespic{
    padding-left: 255px;
    margin-top: -13.25%;
  }
}

@media all and (max-width: 870px){
  #abouttitlespic{
    padding-left: 265px;
    margin-top: -13.25%;
  }
  #dels h2{
    padding-top: 200px;
    font-size: 150px;
  }
}

@media all and (max-width: 768px) {

    /*START OF ABOUT MQ*/
  .aboutheader h1{
    font-size: 70px;
    padding-top: 6%;
    padding-bottom: 6%;
  }
  #abouttitlespic{
    padding-left: 270px;
    padding-bottom: 1%;
    animation-delay: 0.25s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    margin-top: -11%;
    opacity: 70%;
  }

  #tacoPage img{
    margin-left: 10%;
    margin-right:10%;
    margin-top: 10%;
  }
  #tacoPage h2{
    text-align: center;
  }
}

@media all and (max-width: 730px){
  #abouttitlespic{
    padding-left: 280px;
    margin-top: -11.25%;
  }
}

@media all and (max-width: 670px){
  #abouttitlespic{
    padding-left: 285px;
    margin-top: -11.25%;
  }
  #dels h2{
    padding-top: 250px;
    font-size: 100px;
  }
}

@media all and (max-width: 620px) {

/*START OF ABOUT SECTION*/
  #about{
    background-image: url("../img/dramaticme.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    border-top: 10px solid;
    border-color: black;
  }

  #abouttitlespic{
    padding-left: 135px;
    padding-bottom: 1%;
    animation-delay: 1.25s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    visibility: hidden;
  }

  #smokeydescription{
    padding-top: 0%;
  }
  #smokeydescription h4{
   font-family: smokeyFont;
   font-size: 18px;
  }

  #aboutbio{
    margin-top: -225px;
  }
  #aboutresume{
    /*margin-top: -200px;*/
  }
  .aboutheader h1{
    font-size: 26px;
    color: white;
  }

/*START OF TIC TAC TOE SECTION MQ*/

#tic{
  background-image: url("https://media.timeout.com/images/101578335/image.jpg");
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 10px solid;
  border-color: black;
}

#ticpage h2{
  text-align: center;
  font-size: 54px;
  color: red;
  margin-top: 37%;
  font-family: 'Italianno', cursive;
}
#ticpage h4{
  text-align: center;
  font-size: 32px;
  color: red;
  font-family: 'Italianno', cursive;
}

/*START OF WINERY SECTION MQ*/
  #winery{
    background-image: url("../img/wine-bg.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 4%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
  }

  #winery h3{
    font-size: 16px;
    font-style: italic;
    color: white;
  }
  #winery h2{
    font-size: 36px;
    color: white;
    margin-bottom: 3%;
  }
  #winery p{
    color: white;
    margin-top: 3%;
    font-size: 16px;
  }
  #winery img{
    width: 175px;
    opacity: 0.75;
    margin-bottom: 3%;
  }
  #contact1 a{
    padding-right: 0%;
  }
}

@media all and (max-width:470px) {
  #dels h2{
    padding-top: 250px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 60px;
  }
}
@media all and (max-width: 420px) {
  #winery{
    background-image: url("../img/wine-bg.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 4%;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
  }
  #winery h3{
    font-size: 14px;
    font-style: italic;
    color: white;
  }
  #winery h2{
    font-size: 22px;
    color: white;
    margin-bottom: 3%;
  }
  #winery p{
    color: white;
    margin-top: 3%;
    font-size: 12px;
  }
  #winery img{
    width: 125px;
    opacity: 0.75;
    margin-bottom: 3%;
  }
}
/* start of tic tac toe */
@media all and (max-width: 1400px) {
  .row {
    padding-left: 13%;
    clear: both;
  }

  h1{
    color: white;
    font-family: cursive;
  }
}

@media all and (max-width: 805px) {
  div[data-cell] {
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid;
    font-size: 50px;
  }
}

@media all and (max-width: 740px) {

  h1{
    color: white;
    font-size: 52px;
    font-family: cursive;
  }
  h2{
    color: white;
    font-size: 22px;
  }

  div[data-cell] {
    width: 60px;
    height: 60px;
    float: left;
    border: 1px solid;
    font-size: 50px;
  }
  #announce-winner {
    clear: both;
    font-size: 25px;
    color: white;
  }
}

@media all and (max-width: 400px) {
  h1{
    color: white;
    font-size: 22px;
  }
  h2{
    color: white;
    font-size: 14px;
  }

  div[data-cell] {
    width: 40px;
    height: 40px;
    float: left;
    border: 1px solid;
    font-size: 14px;
  }
  #announce-winner {
    clear: both;
    font-size: 12px;
    color: white;
  }
}
/* end of tic tac toe  */
