/*Start of CSS*/

@font-face {
  font-family: "smokeyFont";
  src:url("../fonts/Nice Dream Come True.ttf") format("truetype");
}

html{
  background-color: #800000;
}

body{
  background-color: #800000 !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: white !important;
    background-color: #800000;
    opacity: 50%;
}
.affix {
  top:100px;
  left: 5px;
}

#dels a:hover{
  color: #800000;
}
#about a:hover{
  color: #800000;
}

#contact a:hover{
  color: black;
}

#ticpage a h2:hover{
  color: gold;

}
#ticpage a h4:hover{
  color: gold;
}

.mystorylinks{
  text-align: center;
  background-image:  url("../img/2ndsausagecornersflip.png");
  background-position: top;
  height: 60px;
  width:110px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top:20px;
  margin-top:-9px;
  font-family: 'Acme', sans-serif;
  font-size: 16px;
  color: #900000;
}
#mystorysausage0{
  background-image:  url("../../../10week/portfolio/img/2ndsausagecornersflip.png");
}
#mystorysausage{
  background-image:  url("../../../10week/portfolio/img/2ndsausagecorners.png");
}
#mystorysausage1{
  background-image:  url("../../../10week/portfolio/img/2ndsausagecorners.png");
  margin-top: -1%;
  color: white;
}
#mystorysausage2{
  background-image:  url("../../../10week/portfolio/img/2ndsausagecornersflip.png");
}
#mystorysausage3{
  background-image:  url("../../../10week/portfolio/img/2ndsausagecorners.png");
}
#mystorysausage4{
  background-image:  url("../../../10week/portfolio/img/2ndsausagecornersflip.png");
  margin-bottom: -5%;
}

.mystorylinks h6{
  padding-left: 5px;
  padding-top: 3px;
  font-size: 16px
}

a{
  color: lightgray;
  text-decoration: none !important;
}

.header{
  text-align: center;
  color: white;
  font-family: "Acme";
}

.header h1{
  font-size: 70px;
}
.header h4{
  font-size: 40px;
}

.col h2{
  font-size: 46px;
  font-family: "Acme";
}

main{
  background-color: white;
  margin-left: 125px;
  margin-right:120px;
  width: 87%;
  border-left: 10px solid;
  border-right: 10px solid;
  border-top: 10px solid;
  border-bottom: 10px solid;
  border-color: black;
  margin-bottom: -20px;
}

.col{
  padding-left: 5%;
  padding-right: 5%;
  font-family: georgia;
}

.col h2{
  text-align: center;
}

.col p{
  font-size: 22px;
  line-height: 2;
}

.col img{
  width: 100%;
  margin-bottom: 5%;
  border: solid 4px;
  border-color: black;
}

#serious img{
  width:40px;
  max-height:200px;
}

li{
  font-size: 22px;
  line-height: 2;
}
