html{
  background-image: url("http://cdn.wallpapersafari.com/3/24/kxJG7v.jpg");
  background-size: cover;
}

body{
}

header{
  background-color: #34FFAA;
  background-image: url("http://cdn.wallpapersafari.com/3/24/kxJG7v.jpg");
  background-size: cover;
  text-align: center;
  height: 150px;
}

.col h2{
  font-size: 34px;
  text-align: center;
  font-family: 'Righteous', cursive;
  color: lightyellow;
}
.col h4{
  font-size: 18px;
  text-align: center;
}
.col h3{
  font-size: 28px;
  margin-top: 40px;
  text-align: center;
}
.col h5{
  font-size: 16px;
  text-align: center;
}
.col h6{
  font-size: 14px;
  text-align: center;
}
.col ul{
  text-align: center;
}
.col li{
  text-align: center;
  text-decoration: none;
}

#skills{
  margin-top: 60px;
}

header span{
  padding-left: 3%;
  padding-right: 3%;
  font-size: 30px;
}

main{
  height: auto;
  background-color: #FFB81B;
}

.col{
  height: 600px;
}

#edu{
  background-color: #AFCFFF;
}
#work{
  background-color: #9DBAE5;
}
#webdev{
  background-color: #34FFAA;
}
#transkills{
  text-align: center;
}
