html{
background-color: black;
}

header{
  background-image: url("img/headerimg2.png");
  background-size: cover;
  background-position: center;
  height: 100px;
}
footer{
  background-image: url("img/footer.png");
  background-size: cover;
  background-position: center;
  height: 100px;
}

.col h2{
  font-size: 44px;
  text-align: center;
  font-family: 'Righteous', cursive;
  color: #C76DE0;
}
.col h4{
  font-size: 18px;
  text-align: center;
  color: #1F72E3;
}
.col h3{
  font-size: 32px;
  margin-top: 40px;
  text-align: center;
  color: orange;
}

#smm h3{
  margin-top: 70px;
}
#ogm h3{
  margin-top: 70px;
}

#GSC li{
    text-align: left;
    text-decoration: none;
    color: #2EB46A;
    font-weight: normal;
    list-style-type: none;
    line-height: 2;
    padding-left: 5%;
}

.col h5{
  font-size: 16px;
  text-align: center;
  color: #888888;
}

#gpa h5{
  font-size: 20px;
  font-weight: bold;
}

.col h6{
  font-size: 14px;
  text-align: left;
  color: #888888;
}
.col ul{
  text-align: center;
}
.col li{
  text-align: left;
  text-decoration: none;
  color: #2EB46A;
  font-weight: bold;
  list-style-type: none;
  line-height: 1.5;
  font-size: 20px;
}

.proficient li{
  padding-left: 50px;
}

#collegestuff h5{
  color: #2EB46A;
}

.curlybraceopen{
  margin-top: -30px;
  margin-bottom: 0px;
}
.curlybraceclose{
  margin-top: -40px;
  margin-bottom: -60px;
}

#codeimg img{
  padding-left: 19%;
  width: 480px;
  height: 150px;
}
#codeimg2 img{
  padding-left: 19%;
  width: 480px;
  height: 200px;
}
#codeimgwork img{
  padding-left: 19%;
  width: 480px;
  height: 500px;
}
#codeimgedu img{
  padding-left: 19%;
  width: 480px;
  height: 500px;
}

#skills{
  margin-top: 80px;
}

#transinfo h5{
  color: #2EB46A;
  line-height: 1.5;
}
#transinfo{
  color: #2EB46A;
}
header span{
  padding-left: 3%;
  padding-right: 3%;
  font-size: 30px;
}

main{
  height: auto;
  background-color: #FFB81B;
}

.col{
  height: 650px;
}

#edu{
  background-color: black;
}
#work{
  background-color: black;
}
#webdev{
  background-color: black;
}
#transkills{
  text-align: center;
}

.row{
  background-color: black;
}
.footcol{
  margin-top: 0px;
  background-color: black;
  height: 30px;
  padding-top: 0px;
  text-align: center;
}

.footcol h3{
  color: #444444;
}

@media all and (max-width: 1650px) {

  .col h2{
    font-size: 38px;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #C76DE0;
  }
  .col h4{
    font-size: 18px;
    text-align: center;
    color: #1F72E3;
  }
  .col h3{
    font-size: 26px;
    margin-top: 40px;
    text-align: center;
    color: orange;
  }

  .col li{
    font-size: 16px;
  }

  #collegestuff h5{
    font-size: 16px;
  }

  .footcol{
    margin-top: 0px;
    background-color: black;
    height: 30px;
    padding-top: 0px;
    text-align: center;
  }
}
@media all and (max-width: 1470px) {

  .col h2{
    font-size: 34px;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #C76DE0;
  }
  .col h4{
    font-size: 16px;
    text-align: center;
    color: #1F72E3;
  }
  .col h3{
    font-size: 22px;
    margin-top: 40px;
    text-align: center;
    color: orange;
  }

  .col li{
    font-size: 14px;
  }

  #collegestuff h5{
    font-size: 14px;
  }

  header{
    background-size: contain;

  }
  footer{
    background-size: contain;
  }
}

@media all and (max-width: 1270px) {

  .col h2{
    font-size: 28px;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #C76DE0;
  }
  .col h4{
    font-size: 16px;
    text-align: center;
    color: #1F72E3;
  }
  .col h3{
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    color: orange;
  }

  .col li{
    text-align: center;
    text-decoration: none;
    color: #2EB46A;
    font-weight: bold;
    list-style-type: none;
    font-size: 11px;
  }

  #collegestuff h5{
    color: #2EB46A;
    font-size: 11px;
  }

}

/*Tablet View*/

@media all and (max-width: 991px) {

  .col{
    min-height: 700px;
  }

  #work{
    height: 850px;
  }

  #webdev{
    height: 850px;
  }

  .col h2{
    font-size: 80px;
    color: #C76DE0;
  }

  .col h3{
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
    color: orange;
  }

  .col h4{
    font-size: 22px;
    text-align: center;
    color: #1F72E3;
  }

  .col li{
    color: #2EB46A;
    font-size: 18px;
  }

  #GSC li{
      text-align: center;
      color: #2EB46A;
      line-height: 2;
      padding-left: 5%;
      font-size: 18px;
      font-weight: bold;
  }

  #collegestuff h5{
    color: #2EB46A;
    font-size: 18px;
  }

  .col h5{
    font-size: 22px;
    text-align: center;
    color: #888888;
  }

  #gpa h5{
    font-size: 20px;
    font-weight: bold;
  }

  .col h6{
    font-size: 22px;
    text-align: center;
    color: #888888;
  }

  header{
    background-image: url("img/headerimg2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    background-color: black;
  }

  footer{
    background-image: url("img/footer.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100px;
  }
}

/*Smart Phone View NOT DONE YET! GET SLEEP, THEN COFFEE!*/

@media all and (max-width: 420px) {


  #work{
    height: 850px;
  }

  #webdev{
    height: 850px;
  }

  .col h2{
    font-size: 80px;
    color: #C76DE0;
  }

  .col h3{
    font-size: 46px;
    margin-top: 20px;
    text-align: center;
  }

  .col h4{
    font-size: 320px;
    text-align: center;
    color: #1F72E3;
  }

  .col li{
    color: #2EB46A;
    font-size: 18px;
  }

  #GSC li{
      text-align: center;
      color: #2EB46A;
      line-height: 2;
      padding-left: 5%;
      font-size: 18px;
      font-weight: bold;
  }

  #collegestuff h5{
    color: #2EB46A;
    font-size: 18px;
  }

  .col h5{
    font-size: 22px;
    text-align: center;
    color: #888888;
  }

  #gpa h5{
    font-size: 20px;
    font-weight: bold;
  }

  .col h6{
    font-size: 22px;
    text-align: center;
    color: #888888;
  }

  header{
    background-image: url("img/headerimg2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    background-color: black;
  }

  footer{
    background-image: url("img/footer.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100px;
  }

}
